*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.nav-link{
    color: gold !important;
    font-size: 16PX;
    text-transform: uppercase;

}